<template name="reviewItem">
    <li>
        <h4>
            <span class="author">{{author}}</span>
            <span class="date">on {{submittedText}}</span>
        </h4>
        <p>{{body}}</p>
        <div>
            {{#if equals rating "1"}}
              <p> Rating: <img src="/siteAssets/smallleaf.png"/> </p>
            {{/if}}
            {{#if equals rating  "2"}}
               <p> Rating: <img class="" src="/siteAssets/smallleaf.png"/>
                <img class="" src="/siteAssets/smallleaf.png"/> </p>
            {{/if}}
            {{#if equals rating  "3"}}
                 <p> Rating: <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/> </p>
            {{/if}}
            {{#if equals rating  "4"}}
                   <p> Rating: <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/> </p>
            {{/if}}
            {{#if equals rating "5"}}
                <p> Rating: <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/>
                <img class="img-rounded" src="/siteAssets/smallleaf.png"/> </p>
            {{/if}}
        </div>
    </li>
</template>