@font-face {
  font-family: 'Roboto'; /*a name to be used later*/
  src: url('\siteAssets\Roboto.ttf'); /*URL to font*/
}

.grid-block, .main, .space, .reviews li, .review-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666;
  font-family: 'Roboto';
  margin-left: auto;
  margin-right: auto;
}

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 20px;
  background-color: #99da54;
  border-width: 0px;
  border-radius: 0px 0px 3px 3px;
  color: white;
  padding-bottom: 25px;
}
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

  .navbar-collapse {
    color:white;

  }


#spinner {
  height: 300px; }

.space {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  opacity: 1; }
  .space:after {
    clear: both; }
  .space.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }

.thumbnail-legend {
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 1;
  top:0;
  left:0;
  position: relative;
}

.thumbnail {
  position:relative;
}

.reviews {
  list-style-type: none;
  margin: 0; }
  .reviews li h4 {
    font-size: 16px;
    margin: 0; }
    .reviews li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .reviews li h4 a {
      font-size: 12px; }
  .reviews li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.spaces .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.space-page-photo{
  width: 800px;
  max-width: 100%;
  height: 500px;
  overflow: hidden;
}

.space-list-photo{
  width: 800px;
  height: 300px;
  overflow: hidden;

}
.card{
  position: relative;
  width: 100%;
  color: white;
  margin-bottom: 20px;

}
.card-block{
  bottom: 0px;
  position: absolute;
  background-color:white;
  margin-top: 0px;
  display: block;
  background: rgba(110, 180, 80, .7);
}

.cardimg{

  background-repeat: no-repeat;
  height: 290px;
  width: 100%;
  margin: 0px;
  overflow: hidden;

}

.card-title {
  margin: 0px;
  z-index: 10;
  padding: 0px;
  padding-left: 30px;
  padding-top: 10px;
}

.card-text {

  padding-left: 30px;
  padding-top: 10px;
}

a:link {  color : #fff;  }
a:visited { color : #fff;}
img {
  display: block;
  margin: 0px;
  border-radius: 5px 5px 5px 5px;
}

#card{
  margin: auto;
  width: 100%;


}
.rating {
  float:left;
  width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background:#008000;
  color:#FFF;
}
figure
{
  width:25%;
  float:left;
  margin:0px;
  text-align:center;
  padding:0px;
}