<template name="spaceSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'url'}}">
      <div class="controls">
          <div id="name" class="btn btn-info"> Get GPS Coordinates </div> <br/>
          <label class="control-label" for="latitude">Latitude</label>
          <input name="latitude" id="latitude" type="text" value="" class="form-control" readonly/>
          <label class="control-label" for="longitude">Longitude</label>
          <input name="longitude" id="longitude" type="text" value="" class="form-control" readonly/>
          <label class="control-label" for="title">Title</label>
          <input name="title" id="title" type="text" value="" placeholder="Name of Space" class="form-control"/>
          <label class="control-label" for="address">Address</label>
          <input name="address" id="address" type="text" value="" placeholder="Address" class="form-control"/>
          <span class="help-block">{{errorMessage 'url'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>