<template name="spaceItem">
  <div class="card">
      <img src={{getImg}} class="cardimg" />
    <div class="card card-block">

        <h4 class="card-title"><a href="{{pathFor 'spacePage'}}" >{{title}}</a></h4>
        <p class="card-text">
            <a href="{{pathFor 'spacePage'}}">{{pluralize reviewsCount "review"}}</a>
            {{#if ownSpace}}<a href="{{pathFor 'spaceEdit'}}">Edit</a>{{/if}}
        </p>
        <div class="card-dist">
           {{dist}} miles
        </div>
    </div>
  </div>
</template>