<template name="spacePage">

    <div class="imageView">
        {{#each images}}
            <div>
                <a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>
            </div>
        {{/each}}
    </div>
    <div class="space-page page">
    {{> spaceItem}}
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>

  
    <ul class="comments">
      {{#each reviews}}
        {{> reviewItem}}
      {{/each}}
    </ul>
  
    {{#if currentUser}}
      {{> reviewSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>
