<template name="spaceItem">
  <div class="card">
      <img src="/open-space-1.jpg" class="card-img-top img-responsive" />
    <div class="card card-block">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-text">
            <a href="{{pathFor 'spacePage'}}">{{pluralize reviewsCount "review"}}</a>
            {{#if ownSpace}}<a href="{{pathFor 'spaceEdit'}}">Edit</a>{{/if}}
        </p>
        <a href="{{pathFor 'spacePage'}}" class="btn btn-primary">Discuss</a>
    </div>
  </div>
</template>